body {
    margin: 0;
    height: 100vh;
    background: #404040;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
}

.menu-bar {
    position: absolute;
    width: 1440px;
    height: 131px;
    left: 0px;
    top: 0px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #ECC31E 0%, #D486E8 0.01%, #ECBE08 0.02%, rgba(134, 133, 133, 0) 100%);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

#logo-bee {
    position: absolute;
    width: 105.6px;
    height: 96.25px;
    left: 10%;
    top: 10px;

    background: url(/media/basic/logo_bee_10.svg);
    background-size: cover;
}

#switch {
    position: absolute;
    width: 77px;
    height: 77px;
    left: 320px;
    top: 28px;
    bottom: 26px;

    background: url(/media/basic/switch.png);
    background-size: cover;
}

#menu-txt {
    position: absolute;
    width: 710px;
    height: 48px;
    left: 402px;
    top: 45px;

    font-weight: 500;
    font-size: 24px;
    line-height: 37px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#log-out {
    position: absolute;
    width: 85px;
    height: 39px;
    left: 1192px;
    top: 44px;

    background: linear-gradient(180deg, #FFD029 0%, rgba(255, 208, 41, 0.472712) 58.85%, rgba(255, 208, 41, 0.104167) 99.99%, rgba(255, 208, 41, 0.27) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

#log-out-txt {
    position: absolute;
    width: 72px;
    height: 20px;
    left: 1198px;
    top: 52px;

    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;
}

#account {
    position: absolute;
    width: 85px;
    height: 85px;
    right: 4.51%;
    right: 65px;
    top: 21px;
    bottom: 21px;

    background: url(/media/basic/profile_icon.png);
    background-size: cover;
    border-radius: 50%;
}

.charity-money {
    position: absolute;
    width: 1329px;
    height: 226px;
    left: 46px;
    top: 183px;

    background: url(/media/layout/charity_money.svg);
}

#counter {
    position: absolute;
    width: 72px;
    height: 20px;
    left: 175px;
    top: 280px;

    font-weight: 700;
    font-size: 150px;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;
}

#charity-txt {
    position: absolute;
    width: 391px;
    height: 41px;
    left: 524px;
    top: 409px;

    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#whom-txt {
    position: absolute;
    width: 595px;
    height: 44px;
    left: 169px;
    top: 498px;

    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;

    color: #FCCD2B;
}

#quote-1 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 16px;
    top: 64px;

    background: url(/media/basic/quote.svg);
    background-size: cover;
}

.charities {
    position: absolute;
    width: 1330px;
    height: 560px;
    left: 51px;
    top: 461px;

    background: rgba(196, 196, 196, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#charities-txt {
    position: absolute;
    width: 1082px;
    height: 551px;
    left: 169px;
    top: 525px;

    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#copies-sold {
    position: absolute;
    width: 183px;
    height: 172px;
    left: 75px;
    top: 1143px;

    background: url(/media/basic/copies_sold.svg);
    background-size: cover;
}

#total-copies {
    position: absolute;
    width: 1097px;
    height: 169px;
    left: 266px;
    top: 1143px;

    font-weight: 900;
    font-size: 150px;
    line-height: 182px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#quote-2 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 599px;
    top: 1333px;

    background: url(/media/basic/quote.svg);
    background-size: cover;
}

#copies-txt {
    position: absolute;
    width: 851px;
    height: 65px;
    left: 693px;
    top: 1300px;

    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;

    color: #CFA911;
}

#top-txt {
    position: absolute;
    width: 321px;
    height: 18px;
    left: 47px;
    top: 1429px;

    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#wiesmin-bundle {
    position: absolute;
    width: 298px;
    height: 168px;
    left: 54px;
    top: 1464px;   

    background: url(/media/bundles/wiesmin_bundle.png);
    border-radius: 15px;
}

#elden-ring-bundle {
    position: absolute;
    width: 298px;
    height: 168px;
    left: 398px;
    top: 1464px;

    background: url(/media/bundles/elden_ring_bundle.png);
    border-radius: 15px;
}

#squad-bundle {
    position: absolute;
    width: 298px;
    height: 168px;
    left: 742px;
    top: 1464px;

    background: url(/media/bundles/squad_bundle.png);
    border-radius: 15px;
}

#me-bundle {
    position: absolute;
    width: 298px;
    height: 168px;
    left: 1086px;
    top: 1464px;

    background: url(/media/bundles/me_bundle.png);
    border-radius: 15px;
}

.about-us {
    position: absolute;
    width: 1330px;
    height: 356px;
    left: 55px;
    top: 1702px;

    background: url(/media/layout/about_us.png)
}

.humble-choice {
    position: absolute;
    width: 1327px;
    height: 442px;
    left: 56px;
    top: 2142px;

    background: url(/media/layout/humble_choice.jpg);
    background-size: cover;
    border-radius: 15px;
}

.more-bundle {
    position: absolute;
    width: 723px;
    height: 122px;
    left: 359px;
    top: 2644px;

    background: linear-gradient(119.68deg, #F7C930 31.85%, rgba(247, 201, 48, 0.984375) 31.86%, rgba(247, 201, 48, 0) 136.22%);
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
}

#join-us {
    position: absolute;
    width: 73.6px;
    height: 73.6px;
    left: 67.2px;
    top: 24.2px;
    bottom: 24.2px;

    background: url(/media/basic/join_us.svg);
    background-size: cover;
}

#show-txt {
    position: absolute;
    width: 466px;
    height: 77px;
    left: 524px;
    top: 2666px;   

    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#games-txt {
    position: absolute;
    width: 153px;
    height: 54px;
    left: 47px;
    top: 2823px;

    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#borderlands {
    position: absolute;
    width: 589px;
    height: 287px;
    left: 60px;
    top: 2877px;

    background: url(/media/games/borderlands.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

#anomaly {
    position: absolute;
    width: 336px;
    height: 287px;
    left: 685px;
    top: 2877px;

    background: url(/media/games/anomaly.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

#minecraft {
    position: absolute;
    width: 327px;
    height: 287px;
    left: 1056px;
    top: 2877px;

    background: url(/media/games/minecraft.webp);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

#dusk {
    position: absolute;
    width: 241px;
    height: 239px;
    left: 56px;
    top: 3196px;

    background: url(/media/games/dusk.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

#wonderlands {
    position: absolute;
    width: 241px;
    height: 239px;
    left: 327px;
    top: 3196px;

    background: url(/media/games/wonderlands.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

#valheim {
    position: absolute;
    width: 240px;
    height: 239px;
    left: 599px;
    top: 3196px;

    background: url(/media/games/valheim.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

#warlock {
    position: absolute;
    width: 241px;
    height: 239px;
    left: 870px;
    top: 3196px;

    background: url(/media/games/warlock.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

#cyberpunk {
    position: absolute;
    width: 241px;
    height: 239px;
    left: 1141px;
    top: 3196px;   

    background: url(/media/games/cyberpunk.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 370px;
    left: 0px;
    top: 3513px;


    background: rgba(47, 51, 61, 0.8);
}

#footer-logo {
    position: absolute;
    width: 105.6px;
    height: 96.25px;
    left: 64px;
    top: 21.4px;
    bottom: 252.35px;

    background: url(/media/basic/logo_bee_10.svg);
    background-size: cover;
}

#get-txt {
    position: absolute;
    left: 60px;
    top: 144.95px;
    bottom: 189.03px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#invite-txt {
    position: absolute;
    width: 179px;
    height: 19px;
    left: 60px;
    top: 219px;

    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #ECBE08;
}

#about-txt {
    position: absolute;
    width: 54px;
    height: 15px;
    left: 392px;
    top: 64px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#blog-txt {
    position: absolute;
    width: 36px;
    height: 21px;
    left: 390px;
    top: 102px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#support-txt {
    position: absolute;
    width: 61px;
    height: 17px;
    left: 390px;
    top: 135px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#faq-txt {
    position: absolute;
    width: 56px;
    height: 23px;
    left: 390px;
    top: 169px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#developers-txt {
    position: absolute;
    width: 89px;
    height: 19px;
    left: 390px;
    top: 200px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#charity-footer-txt {
    position: absolute;
    width: 75px;
    height: 17px;
    left: 390px;
    top: 229px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#trending-txt {
    position: absolute;
    width: 147px;
    height: 16px;
    left: 537px;
    top: 64px;

    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#borderlands-txt {
    position: absolute;
    width: 102px;
    height: 21px;
    left: 537px;
    top: 102px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#elden-ring-txt {
    position: absolute;
    width: 102px;
    height: 21px;
    left: 537px;
    top: 135px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#valheim-txt {
    position: absolute;
    width: 102px;
    height: 21px;
    left: 537px;
    top: 168px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#minecraft-txt {
    position: absolute;
    width: 102px;
    height: 21px;
    left: 537px;
    top: 201px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#monster-txt {
    position: absolute;
    width: 173px;
    height: 21px;
    left: 537px;
    top: 234px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#bundles-txt {
    position: absolute;
    width: 90px;
    height: 16px;
    left: 754px;
    top: 64px;

    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#humble-txt {
    position: absolute;
    width: 114px;
    height: 19px;
    left: 754px;
    top: 102px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#monthly-txt {
    position: absolute;
    width: 114px;
    height: 19px;
    left: 754px;
    top: 135px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#software-txt {
    position: absolute;
    width: 114px;
    height: 19px;
    left: 754px;
    top: 168px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#e-books-txt {
    position: absolute;
    width: 114px;
    height: 19px;
    left: 754px;
    top: 201px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#games-footer-txt {
    position: absolute;
    width: 114px;
    height: 19px;
    left: 754px;
    top: 234px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.social {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 64px;

    background: linear-gradient(219.12deg, #C4C4C4 22.43%, rgba(196, 196, 196, 0) 91.15%);
    opacity: 0.5;
    border-radius: 50%;
}

#instagram {
    left: 1055px;
}

#instagram-icon {
    position: absolute;
    width: 35.2px;
    height: 35.2px;
    left: 1062.4px;
    top: 71.4px;

    background: url(/media/social/instagram.svg);
    background-size: cover;
}

#linkedin {
    left: 1115px;
}
#linkedin-icon {
    position: absolute;
    width: 33.6px;
    height: 33.6px;
    left: 1123.2px;
    top: 71.2px;

    background: url(/media/social/linkedin.svg);
    background-size: cover;
}

#twitter {
    left: 1175px;
}

#twitter-icon {
    position: absolute;
    width: 40px;
    height: 37px;
    left: 1180px;
    top: 70px;

    background: url(/media/social/twitter.svg);
    background-size: cover;
}

#facebook {
    left: 1235px;
}

#facebook-icon {
    position: absolute;
    width: 33.6px;
    height: 33.6px;
    left: 1243.2px;
    top: 72.2px;

    background: url(/media/social/facebook.svg);
    background-size: cover;
}

#bee {
    left: 1295px
}

#bee-icon {
    position: absolute;
    width: 36px;
    height: 31.4px;
    left: 1302.4px;
    top: 70px;

    background: url(/media/social/bee.svg);
    background-size: cover;
}

#community-txt {
    position: absolute;
    width: 269px;
    height: 82px;
    left: 1064px;
    top: 128px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}

#footnote {
    position: absolute;
    width: 558px;
    height: 33px;
    left: 524px;
    top: 316px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}